$color-primary: #55c57a; //yellow color
$color-primary-light: #7ed56f; //yellow color
$color-primary-dark: #28b485; //yellow color
$color-secondary: #f08a5d; //orange
$color-tertiary: #b83b5e; //pink
$color-text-dark: #333; //grey
$color-text-light: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$width-button: 150px;
